html, body {
	margin: 0;
	padding: 0;
}

/* Variavéis 

Fontes */
$fonte-padrao: "Lato";
$fonte-secundaria: "Ranga";
$fonte-light: 300;
$fonte-regular: 400;
$fonte-bold: 700;
$fonte-black: 900;

/*Cores */
$cor-principal: #1a1416;
$cor-branca: #fff;
$cor-secundaria: #fdcc03;

/* Espaçamentos */
$espaco-sessao: 70px;

/* Cabeçaho */
.menu-principal {
	background-color: $cor-secundaria;
}

.nav-link {
	font: {
		family: $fonte-padrao;
		size: 1em;
		weight: $fonte-regular;  
	}
	letter-spacing: 0.7px;
	text-transform: uppercase;
	color: $cor-principal !important;
}

.nav-link:hover {
	font-weight: $fonte-black;
	transition: 0.2s;
}

/* Carousel */
.carousel-principal {
	margin-top: 56px;
}

.img-banner {
    background-size: cover;
	background-position: center;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pelicula-banner {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(26, 20, 22, 0.7);
	z-index: 999;
}

.texto-banner-area {
	z-index: 999;
}

.titulo-banner {
	font: {
		family: $fonte-secundaria;
		size: 5em;
		weight: $fonte-bold; 
	}
	text-align: center;
	color: $cor-branca;
}

.subtitulo-banner {
	font: {
		family: $fonte-padrao;
		size: 1.3em;
		weight: $fonte-regular; 
	}
	text-align: center;
	color: $cor-branca;
	margin-top: -20px;
}

.btn-banner-area {
	display: flex;
	justify-content: center;
}

.btn-banner {
	font: {
		family: $fonte-padrao;
		size: 1em;
		weight: $fonte-regular; 	
	}
	text-transform: uppercase;
	border-radius: 2em;
	color: $cor-principal;
	background-color: $cor-secundaria;
}

.btn-banner:hover {
	color: $cor-branca;
	border: 2px solid $cor-secundaria;
	background-color: transparent;
}

.owl-theme .owl-dots .owl-dot span {
	width: 0.7em;
	height: 0.7em;
}

.owl-carousel-home .owl-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.owl-carousel-home .owl-dots .owl-dot.active span {
    background-color: #fff !important;
    border: 1px solid #fff !important;
}

.owl-carousel-home .owl-dots .owl-dot span {
    background-color: transparent !important;
    border: 1px solid #fff !important;
}


/* A Empresa */
.a-empresa {
	padding-top: $espaco-sessao;
}

.titulo-sessao {
	font: {
		family: $fonte-secundaria;
		size: 3em;
		weight: $fonte-bold; 	
	}
	color: $cor-principal;
	text-align: center;
}

.texto-corpo {
	font: {
		family: $fonte-padrao;
		size: 1.02em;
		weight: $fonte-regular; 	
	}
	text-align: center;
}

@media (max-width: 767px) {
	.img-sobre-area {
		display: none;
	}
}

.img-sobre {
	margin-left: 70%;
	max-width: 40%;
}

@media (max-width: 991px) {
	.img-sobre {
	  margin-left: 30%;
	  max-width: 70%;
	}
}

/* Categorias */
.doacao-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 767px) {
	.doacao-area {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.doacao {
	margin-top: $espaco-sessao;
	background-image: url('../../img/pattern.jpg');
	background-size: cover;
	background-position: center;
	padding-top: 20px;
	padding-bottom: 15px;
}

.doacao-area > div > h2 {
	font: {
		family: $fonte-secundaria;
		size: 2.3em;
		weight: $fonte-regular; 	
	}
	text-align: left !important;
}

@media (max-width: 767px) {
	.doacao-area > div > h2 {
		text-align: center !important;
	}
}

.btn-doacao {
	font: {
		family: $fonte-padrao;
		size: 1em;
		weight: $fonte-regular; 	
	}
	text-transform: uppercase;
	background-color: $cor-principal;
	color: $cor-secundaria;
}

.btn-doacao:hover {
	background-color: transparent;
	color: $cor-principal;
	border: 1px solid $cor-principal;
	transition: 0.3s;
}

/* Produtos */
@media (max-width: 991px) {
	.categorias-area-p {
		padding-top: 20px;
	}
}

.produtos {
	padding-top: $espaco-sessao;
}

.menu-produtos {
	padding-top: 20px;
}

.menu-categoria-ul {
	padding-inline-start: 0;
	list-style-type: none;
}

.categoria-area {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.link-categoria:hover {
	color: $cor-secundaria;
	text-decoration: none;
}

.titulo-categoria {
	font: {
		family: $fonte-padrao;
		size: 1.1em;
		weight: $fonte-bold; 	
	}
	text-align: center;
	text-transform: uppercase;
	color: $cor-principal;
}

.titulo-categoria:hover {
	color: $cor-secundaria;
	transition: 0.3s;
}

.img-categoria {
	max-width: 6.5em;
	padding: 10px 0;
}

.list-group-item.active {
	background-color: #fff;
	border: 2px solid $cor-principal;
}

.produtos-area {
	padding-top: 40px;
}

.produto-img-area {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 10px 25px 10px;
	border: 2px solid $cor-secundaria;
}

@media (min-width: 768px) and (max-width: 991px) {
	.img-produto {
		max-width: 95%;
	}
}

.btn-comprar {
	font: {
		family: $fonte-padrao;
		size: 1.1em;
		weight: $fonte-bold; 	
	}
	text-transform: uppercase;
	width: 100%;
	background-color: transparent;
	border: 2px solid $cor-secundaria;
	border-radius: 1.3em;
	color: $cor-secundaria;
	margin-top: 10px;
}

.btn-comprar:hover {
	color: #fff;
	background-color: $cor-secundaria;
	transition: 0.3s;
}

.produto-area-p {
	padding-top: 30px;
}

/* COntato */
.contato {
	padding-top: $espaco-sessao;
	padding-bottom: $espaco-sessao;
}

.contato-area-p {
	padding-top: 40px;
}

.input-contato {
	width: 80%;
	border-radius: 1.2em;
	border: 2px solid $cor-principal;
}

.input-contato:focus {
	border: 3px solid $cor-secundaria;
	box-shadow: none;
}

.input-contato::placeholder {
	font: {
		family: $fonte-padrao;
		size: 1em;
		weight: $fonte-regular; 	
	}
	color: $cor-principal;
}

.btn-form-contato {
	font: {
		family: $fonte-padrao;
		size: 1.1em;
		weight: $fonte-bold; 	
	}
	color: #fff;
	background-color: $cor-secundaria;
	text-transform: uppercase;
	border-radius: 1.2em;
	width: 80%;
}

.btn-form-contato:hover {
	color: $cor-secundaria;
	background-color: $cor-principal;
	transition: 0.3s;
}

@media (max-width: 767px) {
	.input-contato {
		width: 100%;
	}

	.btn-form-contato {
		width: 100%;
	}
}

.texto-corpo-contato {
	font: {
		family: $fonte-padrao;
		size: 1.2em;
		weight: $fonte-bold; 	
	}
	color: $cor-principal;
}

.mapa-contato {
	padding-top: 20px;
}

/* Rodapé */
.rodape-principal {
	padding: 20px 0;
	background-color: $cor-principal;
	border-bottom: 5px solid $cor-secundaria;
}

.rodape-area {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media (max-width: 767px) {
	.rodape-area {
		flex-direction: column;
	}
}

.creditos-rodape {
	font: {
		family: $fonte-padrao;
		size: 1.2em;
		weight: $fonte-regular; 	
	}
	color: #fff;
}

.titulo-newsletter {
	font: {
		family: $fonte-padrao;
		size: 1.2em;
		weight: $fonte-black; 	
	}
	color: #fff;
	text-transform: uppercase;
}

.fa {
	font-size: 1.2em;
	color: #fff;
	padding-left: 10px;
}

/* 404 */
.erro-404 {
	background-color: #1a1416;
}

.titulo-404 {
	font: {
		family: $fonte-padrao;
		size: 7em;
		weight: $fonte-black; 	
	}
	padding-top: $espaco-sessao;
	color: $cor-secundaria;
}

.subtitulo-404 {
	font: {
		family: $fonte-padrao;
		size: 2em;
		weight: $fonte-bold; 	
	}
	text-transform: uppercase;
	color: #fff;
}

.btn-retornar {
	font: {
		family: $fonte-padrao;
		size: 1em;
		weight: $fonte-bold; 	
	}
	text-transform: uppercase;
	color: #fff;
	border: 1px solid $cor-secundaria;
	background-color: transparent;
	border-radius: 3em;
}

.btn-retornar:hover {
	background-color: $cor-secundaria;
	color: $cor-principal;
	transition: 0.3s;
}